@font-face {
	font-family: 'Karla Variable';
	src: url('./fonts/Karla-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}

:root {
	--maxWidth-none: 'none';
	--maxWidth-xs: 20rem;
	--maxWidth-sm: 24rem;
	--maxWidth-md: 28rem;
	--maxWidth-lg: 32rem;
	--maxWidth-xl: 36rem;
	--maxWidth-2xl: 42rem;
	--maxWidth-3xl: 48rem;
	--maxWidth-4xl: 56rem;
	--maxWidth-full: '100%';
	--maxWidth-wrapper: var(--maxWidth-2xl);
	--spacing-px: '1px';
	--spacing-0: 0;
	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-3: 0.75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.25rem;
	--spacing-6: 1.5rem;
	--spacing-8: 2rem;
	--spacing-10: 2.5rem;
	--spacing-12: 3rem;
	--spacing-16: 4rem;
	--spacing-20: 5rem;
	--spacing-24: 6rem;
	--spacing-32: 8rem;
	--fontFamily-sans: 'Karla Variable', system-ui, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--fontFamily-serif: serif;
	--font-body: var(--fontFamily-sans);
	--font-heading: var(--fontFamily-sans);
	--fontWeight-normal: 400;
	--fontWeight-medium: 500;
	--fontWeight-semibold: 600;
	--fontWeight-bold: 700;
	--fontWeight-extrabold: 800;
	--fontWeight-black: 900;
	--fontSize-root: 16px;
	--lineHeight-none: 1;
	--lineHeight-tight: 1.1;
	--lineHeight-normal: 1.5;
	--lineHeight-relaxed: 1.625;
	/* 1.200 Minor Third Type Scale */
	--fontSize-0: 0.833rem;
	--fontSize-1: 1rem;
	--fontSize-2: 1.2rem;
	--fontSize-3: 1.44rem;
	--fontSize-4: 1.728rem;
	--fontSize-5: 2.074rem;
	--fontSize-6: 2.488rem;
	--fontSize-7: 2.986rem;
	--color-primary: #005b99;
	--color-text: #2e353f;
	--color-text-light: #4f5969;
	--color-heading: hsl(247, 69%, 15%);
	--color-heading-white: white;
	--color-accent: #d1dce5;
}

/* HTML elements */

html {
	line-height: var(--lineHeight-normal);
	font-size: var(--fontSize-root);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: var(--font-body);
	font-size: var(--fontSize-1);
	color: var(--color-text);
}

main {
	display: grid;
	grid-template-columns:
		1fr
		min(70%, 100%)
		1fr;
}

main > * {
	grid-column: 2;
}

footer {
	padding: var(--spacing-6) var(--spacing-0);
}

hr {
	background: var(--color-accent);
	height: 1px;
	border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	margin-top: var(--spacing-12);
	margin-bottom: var(--spacing-6);
	line-height: var(--lineHeight-tight);
	letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--fontWeight-bold);
	color: var(--color-heading);
}

h1 {
	// font-weight: var(--fontWeight-black);
	font-size: var(--fontSize-6);
	color: var(--color-heading-white);
}

h2 {
	font-size: var(--fontSize-5);
}

h3 {
	font-size: var(--fontSize-4);
}

h4 {
	font-size: var(--fontSize-3);
}

h5 {
	font-size: var(--fontSize-2);
}

h6 {
	font-size: var(--fontSize-1);
}

h1 > a {
	color: inherit;
	text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
	text-decoration: none;
	color: inherit;
}

/* Prose */

p {
	line-height: var(--lineHeight-relaxed);
	--baseline-multiplier: 0.179;
	--x-height-multiplier: 0.35;
	margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
	padding: var(--spacing-0);
}

ul,
ol {
	margin-left: var(--spacing-0);
	margin-right: var(--spacing-0);
	padding: var(--spacing-0);
	margin-bottom: var(--spacing-8);
	list-style-position: outside;
	list-style-image: none;
}

ul li,
ol li {
	padding-left: var(--spacing-0);
	margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
	margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
	margin-bottom: var(--spacing-0);
}

li > ul {
	margin-left: var(--spacing-8);
	margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
	color: var(--color-text-light);
	margin-left: calc(-1 * var(--spacing-6));
	margin-right: var(--spacing-8);
	padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
	border-left: var(--spacing-1) solid var(--color-primary);
	font-size: var(--fontSize-2);
	font-style: italic;
	margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
	margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
	list-style-position: inside;
}

table {
	width: 100%;
	margin-bottom: var(--spacing-8);
	border-collapse: collapse;
	border-spacing: 0.25rem;
}

table thead tr th {
	border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
	color: var(--color-primary);
	word-break: break-word;
}

a:hover,
a:focus {
	text-decoration: none;
}

/* Custom classes */

.global-wrapper {
	// margin: var(--spacing-0) auto;
	// max-width: var(--maxWidth-wrapper);
	// padding: var(--spacing-10) var(--spacing-5);
}

.full-bleed {
	width: 100%;
	grid-column: 1 / 4;
}

.global-header {
	margin-bottom: var(--spacing-12);
}

.main-heading {
	font-size: var(--fontSize-7);
	margin: 0;
}

/* Media queries */

@media (max-width: 42rem) {
	blockquote {
		padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
		margin-left: var(--spacing-0);
	}
	ul,
	ol {
		list-style-position: inside;
	}
}

//Global styles
body {
	font-size: 16px;
	font-family: var(--fontFamily-sans);
}

.flex {
	display: flex;
}

.lees-verder-button {
	border-radius: 5px;
	border: none;
	box-shadow: 0 12px 24px 0 hsla(0, 0%, 0%, 0.15);
	cursor: pointer;
	transition: 0.3s ease-in-out;
	background-color: hsl(247, 69%, 15%);
	@media only screen and (min-width: 769px) {
		max-width: max-content;
		padding: 16px 20px 16.4px;
	}
	@media only screen and (max-width: 768px) {
		max-width: max-content;
		padding: 8px 13px 8.4px;
	}
	@media only screen and (max-width: 480px) {
		background-color: hsl(264, 71%, 43%);
		padding: 10px 14px 10.4px;
		margin-top: 1rem;
	}
}

.lees-verder-button:hover {
	background-color: hsl(247, 47%, 29%);
}

.lees-verder-link {
	font-weight: bold;
	letter-spacing: 0.27px;
	text-align: left;
	color: hsl(0, 0%, 100%);
	text-decoration: none;
	@media only screen and (min-width: 769px) {
		font-size: 18px;
	}
	@media only screen and (max-width: 768px) {
		font-size: 12px;
	}
	@media only screen and (max-width: 480px) {
		font-size: 12px;
	}
}

.hover-image {
	transition: ease-in-out 0.2s;
}
.hover-image:hover {
	opacity: 0.9;
}

//Header styles
.small-letters {
	text-transform: lowercase;
}

.menu-item {
	color: hsl(247, 69%, 15%);
	text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
}

.menu-item:hover {
	color: hsl(247, 47%, 29%);
	border-bottom: 1px solid #2f276d;
}

//Homepage styles
.hero-image {
	@media only screen and (max-width: 1024px) {
		width: 567px;
		height: auto;
		overflow-x: hidden;
	}
	@media only screen and (max-width: 768px) {
		width: auto;
		height: auto;
		border-radius: 5px;
	}
	@media only screen and (max-width: 480px) {
		width: auto;
		height: auto;
		border-radius: 5px;
	}
}

.hero-small {
	margin-bottom: 0;
	margin-top: 0;
	@media only screen and (min-width: 1025px) {
		font-size: 35px;
		color: var(--color-heading-white);
		text-align: right;
	}
	@media only screen and (max-width: 1024px) {
		font-size: 17px;
		color: var(--color-heading-white);
		text-align: right;
	}
	@media only screen and (max-width: 768px) {
		font-size: 21px;
		color: var(--color-heading-white);
		text-align: left;
	}
	@media only screen and (max-width: 480px) {
		font-size: 14px;
		line-height: var(--lineHeight-tight);
		margin-bottom: 6px;
		font-weight: normal;
	}
}

.hero-big {
	margin-top: 0;
	span {
		font-weight: normal;
		color: #fd9c00;
		font-style: italic;
	}
	@media only screen and (min-width: 1025px) {
		font-size: 52px;
		text-align: right;
	}
	@media only screen and (max-width: 1024px) {
		font-size: 26px;
		text-align: right;
		width: 340px;
	}
	@media only screen and (max-width: 768px) {
		font-size: 32px;
		text-align: left;
	}
	@media only screen and (max-width: 480px) {
		font-size: 21px;
		margin-bottom: 0;
	}
}

.hero-subtext {
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.75;
	letter-spacing: 0.3px;
	text-align: left;
	color: white;
	@media only screen and (min-width: 1025px) {
		font-size: 20px;
		width: 520px;
		text-align: right;
	}
	@media only screen and (max-width: 1024px) {
		font-size: 18px;
		width: 330px;
		text-align: right;
		line-height: 1.11;
		letter-spacing: 0.27px;
	}
	@media only screen and (max-width: 768px) {
		font-size: 18px;
		text-align: left;
		line-height: 1.11;
		letter-spacing: 0.27px;
		width: auto;
		padding-bottom: 5rem;
	}
	@media only screen and (max-width: 480px) {
		padding: 1rem 0;
		margin: 0;
	}
}

.hero-button-square {
	max-width: fit-content;
	// height: 95px;
	padding: 23px 16px 16px;
	background-color: #5e20ba;
	border-radius: 6px;
}

.hero-button-triangle {
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-top: 28px solid #ffffff;
}

.usp-header {
	margin: 0;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.15;
	letter-spacing: 0.72px;
	text-align: left;
	color: hsl(0, 0%, 100%);
	span {
		font-weight: bold;
	}
	@media only screen and (min-width: 1025px) {
		font-size: 48px;
		max-width: 840px;
	}
	@media only screen and (max-width: 1024px) {
		font-size: 29px;
		width: 580px;
		line-height: 1.14;
		letter-spacing: 0.44px;
		margin-left: 3rem;
	}
	@media only screen and (max-width: 768px) {
		font-size: 22px;
		width: 460px;
		line-height: 1.14;
		letter-spacing: 0.33px;
	}
	@media only screen and (max-width: 480px) {
		display: none;
	}
}

.services-header {
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.8;
	letter-spacing: 0.56px;
	text-align: left;
	color: hsl(0, 0%, 100%);
	margin-top: 0;

	@media only screen and (min-width: 1025px) {
		font-size: 40px;
		margin-bottom: 30px;
	}
	@media only screen and (max-width: 1024px) {
		font-size: 22px;
		margin-bottom: 20px;
	}
	@media only screen and (max-width: 768px) {
		font-size: 17px;
		margin-bottom: 12px;
	}
	@media only screen and (max-width: 480px) {
		font-size: 15px;
		margin-bottom: 0.625rem;
		color: hsl(247, 69%, 15%);
	}
}

.bullet-list > ul {
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: 0.24px;
	text-align: left;
	margin: 0;
	@media only screen and (min-width: 481px) {
		color: hsl(0, 0%, 100%);
		font-size: 16px;
		padding: 0 16px;
	}
	@media only screen and (max-width: 480px) {
		font-size: 12px;
	}
}

.bullet-list > ul > li {
	@media only screen and (max-width: 1024px) {
		margin-bottom: 6px;
	}
}

.bullet-list-margin {
	@media only screen and (min-width: 769px) {
		margin-right: 80px;
	}
	@media only screen and (max-width: 768px) {
		margin-right: 14px;
	}
	@media only screen and (max-width: 480px) {
		margin-right: 0;
	}
}

.services-image {
	border-radius: 5px;
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
	@media only screen and (min-width: 1025px) {
		width: 280px;
		height: 280px;
		margin-right: 33px;
	}
	@media only screen and (max-width: 1024px) {
		width: 179.9px;
		height: 179.9px;
		margin-right: 33px;
	}
	@media only screen and (max-width: 768px) {
		width: 135.9px;
		height: 135.9px;
		margin-right: 33px;
	}
	@media only screen and (max-width: 480px) {
		width: 142.3px;
		height: 142.3px;
		margin-right: 18px;
	}
}

.featured-blog-image {
	border-radius: 5px;
	@media only screen and (min-width: 1025px) {
		max-width: 663px;
		max-height: 663px;
		width: 40vw;
		height: 40vw;
	}
	@media only screen and (max-width: 1024px) {
		width: 380px;
		height: 380px;
	}
	@media only screen and (max-width: 768px) {
		width: 310px;
		height: 310px;
	}
	@media only screen and (max-width: 480px) {
		width: auto;
		height: 293px;
		z-index: -1;
	}
}

.featured-blog-icon {
	z-index: 1;
	@media only screen and (min-width: 1025px) {
		position: relative;
		width: 117.8px;
		height: 123.4px;
		top: 10%;
		left: 90%;
	}
	@media only screen and (max-width: 1024px) {
		position: relative;
		width: 56.6px;
		height: 59.3px;
		top: 8%;
		left: 85%;
	}
	@media only screen and (max-width: 768px) {
		position: relative;
		width: 56.6px;
		height: 59.3px;
		top: 10%;
		left: 90%;
	}
	@media only screen and (max-width: 480px) {
		position: relative;
		width: 56.6px;
		height: 59.3px;
		top: 40px;
		left: 30px;
	}
}

.featured-title {
	font-size: 30px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 0.45px;
	text-align: left;
	color: hsl(247, 69%, 15%);
	margin: 0;
	@media only screen and (max-width: 1024px) {
		font-size: 24px;
	}
	@media only screen and (max-width: 768px) {
		font-size: 18px;
	}
	@media only screen and (max-width: 480px) {
		font-size: 20px;
	}
}

.featured-excerpt {
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.3px;
	text-align: left;
	color: hsl(250, 49%, 33%);
	margin: 1rem 0;
	@media only screen and (min-width: 1025px) {
		font-size: 20px;
	}
	@media only screen and (max-width: 1024px) {
		font-size: 16px;
	}
	@media only screen and (max-width: 768px) {
		font-size: 14px;
	}
	@media only screen and (max-width: 480px) {
		display: none;
	}
}

// Footer styles

.footer {
	background-color: hsl(247, 69%, 15%);
	@media only screen and (min-width: 481px) {
		border-radius: 5px;
	}
}

.footer-link {
	color: white;
	text-decoration: none;
}

.footer-link:hover {
	color: #d1dce5;
}

// Blog detail

.blog-detail-header {
	font-size: 59px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.17;
	letter-spacing: 0.89px;
	text-align: left;
	color: hsl(0, 0%, 100%);
	@media only screen and (max-width: 1024px) {
		font-size: 50px;
	}
	@media only screen and (max-width: 768px) {
		font-size: 45px;
	}
	@media only screen and (max-width: 480px) {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.2;
		letter-spacing: 0.3px;
		margin: 1rem 3rem;
	}
}

.blog-detail-image {
	box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.15);
	margin-right: 3.3rem;
	@media only screen and (min-width: 769px) {
		min-width: 343px;
		max-width: 343px;
		height: 344px;
	}
	@media only screen and (max-width: 768px) {
		min-width: 278px;
		max-width: 278px;
		height: 279px;
	}
	@media only screen and (max-width: 480px) {
		max-width: 100%;
		height: auto;
		margin: 0;
		place-self: center;
	}
}

.blog-detail-toptext {
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.75;
	letter-spacing: 0.3px;
	text-align: left;
	@media only screen and (max-width: 480px) {
		font-size: 16px;
		font-weight: 300;
		margin: 0;
	}
}

// Related blog styles on Blog Detail page

.related-blog-header {
	font-size: 59px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 0.89px;
	text-align: left;
	color: hsl(0, 0%, 100%);
	margin: 0;
}

.related-blog-icon {
	z-index: 1;
	position: relative;
	@media only screen and (min-width: 1550px) {
		width: 117.8px;
		height: 123.4px;
		top: -250px;
		left: 1050px;
	}
	@media only screen and (max-width: 1549px) {
		width: 117.8px;
		height: 123.4px;
		top: -250px;
		left: 140%;
	}
	@media only screen and (max-width: 1024px) {
		width: 117.8px;
		height: 123.4px;
		top: -250px;
		left: 787px;
	}
	@media only screen and (max-width: 768px) {
		top: -250px;
		left: 620px;
	}
	@media only screen and (max-width: 480px) {
		width: 73px;
		height: 76.5px;
		top: 50px;
		padding-left: 10%;
		left: 0;
	}
}

// Blog overview styles

.blog-overview-header {
	font-size: 59px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: 0.89px;
	text-align: left;
	color: hsl(0, 0%, 100%);
	margin: 0;
	span {
		font-weight: bold;
	}
	@media only screen and (max-width: 480px) {
		font-size: 20px;
		font-weight: normal;
		font-stretch: normal;
		letter-spacing: 0.3px;
	}
}

.category_option {
	color: hsl(0, 0%, 100%);
	margin-right: 8px;
	font-size: 20px;
	cursor: pointer;
	transition: ease-in 0.2s;
	text-transform: lowercase;
}

.category_option:hover {
	color: #d1dce5;
}

.category_option:active {
	font-weight: bold;
}

.option--selected {
	font-weight: bold;
}
// Blog preview styles

.blog-preview-image {
	@media only screen and (min-width: 481px) {
		width: 310px;
		height: 310px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	@media only screen and (max-width: 480px) {
		width: auto;
		max-height: 292px;
		z-index: -1;
	}
}

.hide-on-mobile {
	@media only screen and (max-width: 480px) {
		display: none !important;
	}
}

.blog-preview-title {
	font-size: 27px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.19;
	letter-spacing: 0.38px;
	text-align: left;
	color: hsl(264, 71%, 43%);
	@media only screen and (max-width: 480px) {
		font-size: 20px;
		margin-top: 2rem;
		margin-bottom: 0.8rem;
	}
}

.blog-preview-container {
	height: 160px;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.blog-preview-text {
	font-size: 15px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: 0.17px;
	text-align: left;
	// color: hsl(250, 49%, 33%);
}

.blog-link-detail {
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.75;
	letter-spacing: 0.3px;
	text-align: left;
	color: hsl(250, 49%, 33%);
	text-decoration: none;
	@media only screen and (max-width: 480px) {
		font-size: 15px;
	}
}

.lees-verder-chevron {
	display: flex;
	flex-flow: row;
	flex: 1;
	align-items: flex-end;
	@media only screen and (max-width: 480px) {
		align-items: center;
	}
}

.lees-verder-chevron-inner {
	display: flex;
	align-items: center;
	flex-flow: row;
	color: hsl(250, 49%, 33%);
}

.lees-verder-chevron:hover {
	color: hsl(247, 47%, 29%);
}

// Diensten styles

.services-detail-header {
	h1 {
		font-size: 59px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.17;
		letter-spacing: 0.89px;
		text-align: left;
		color: hsl(0, 0%, 100%);
	}
	span {
		font-weight: bold;
	}
	@media only screen and (max-width: 480px) {
		h1 {
			margin: 0;
			font-size: 20px;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.2;
			letter-spacing: 0.3px;
			text-align: left;
			color: hsl(247, 69%, 15%);
		}
	}
}

.services-item-header {
	font-size: 27px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.19;
	letter-spacing: 0.38px;
	text-align: left;
	margin-top: 0;
}

.services-item-header.primary {
	color: hsl(264, 71%, 43%);
}

.services-item-header.secondary {
	color: hsl(0, 0%, 100%);
}

.services-item-body {
	font-size: 15px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: 0.17px;
	text-align: left;
}

.services-item-body.primary {
	color: hsl(250, 49%, 33%);
}

.services-item-body.secondary {
	color: hsl(0, 0%, 100%);
}

.services-detail-image {
	width: 348px;
	height: 348px;
	border-radius: 5px;
}

// Over Styles
.over-page-header {
	font-size: 48px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.15;
	letter-spacing: 0.72px;
	text-align: left;
	color: var(--color-heading-white);
	margin-top: 2rem;
	span {
		font-weight: bold;
	}
	@media only screen and (max-width: 480px) {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 0;
	}
}

.over-page-subtext {
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.75;
	letter-spacing: 0.3px;
	text-align: left;
	color: hsl(0, 0%, 100%);
	margin-top: 4rem;
	@media only screen and (max-width: 480px) {
		font-size: 16px;
		margin-top: 1.6rem;
		margin-bottom: 0;
	}
}

.over-item-header {
	font-size: 25px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 0.38px;
	text-align: left;
	color: hsl(247, 69%, 15%);
	@media only screen and (max-width: 480px) {
		font-size: 16px;
		margin: 1rem 0 0.9rem 0;
	}
}

.over-item-body {
	font-size: 15px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.67;
	letter-spacing: 0.23px;
	text-align: left;
	color: hsl(250, 49%, 33%);
	@media only screen and (max-width: 480px) {
		font-size: 14px;
		margin-bottom: 0;
	}
}

.over-hero-image {
	width: 467.1px;
	height: 467.1px;
	@media only screen and (max-width: 480px) {
		width: 230.5px;
		height: 230.5px;
	}
}

.over-detail-image {
	min-width: 163px;
	max-width: 163px;
	height: auto;
	@media only screen and (max-width: 480px) {
		min-width: 71.2px;
		max-width: 71.2px;
		height: auto;
	}
}

// Contact styles

.contact-header {
	font-size: 55px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 0.83px;
	text-align: left;
	color: hsl(0, 0%, 100%);
	margin-top: 0;
	span {
		font-weight: normal;
	}
	@media only screen and (max-width: 480px) {
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 0.3px;
		color: var(--color-heading-white);
		margin: 0;
		padding: 0 3.75rem;
		span {
			font-weight: bold;
		}
	}
}

.contact-body-text {
	font-size: 20px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.75;
	letter-spacing: 0.3px;
	text-align: left;
	color: hsl(0, 0%, 100%);
	@media only screen and (max-width: 480px) {
		font-size: 15px;
		line-height: 1.33;
		letter-spacing: 0.23px;
		padding: 0 3.75rem;
		margin: 2rem 0;
	}
}

.contact-location-image {
	width: 346px;
	height: 318px;
	margin-right: 3rem;
	@media only screen and (min-width: 481px) {
		border-radius: 5px;
		box-shadow: 0 12px 24px 0 hsla(0, 0%, 0%, 0.15);
	}

	@media only screen and (max-width: 480px) {
		width: 278px;
		height: 256px;
		margin-right: 0;
	}
}
